<div class="auth-container d-flex h-100">

    <div class="container mx-auto align-self-center">

        <div class="row">

            <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
                <div style="background-image: url(src/assets/img/TranhArt.jpg); 
                                background-repeat: no-repeat;
                                background-size: cover; 
                                background-position: center; " class="auth-overlay">
                </div>
                <div class="auth-cover" style="position: relative; height: 100%;">
                    <div class="position-absolute row" style="bottom: 200; width: 100%;">
                        <div class="col-12">
                            <div class="mb-4" style="text-align: center;">
                                <img style="width: auto; height: 100px;" src="../src/assets/img/logo.svg" alt="">
                            </div>
                        </div>
                        <h2 class="mt-5 text-white font-weight-bolder px-2">
                            "Welcome to a World of Art - Where Every Canvas Tells a Story!"
                        </h2>
                        <p class="text-white px-2">
                            "Bringing Art to Life - Discover Your Perfect Piece Online!"
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                              
                            <div class="col-md-12 mb-3">
                                
                                <div class="media mb-4">
                                    
                                    <!-- <div class="avatar avatar-lg me-3">
                                        <img alt="avatar" src="../src/assets/img/profile-7.jpeg" class="rounded-circle">
                                    </div> -->

                                    <div class="media-body align-self-center">

                                        <h3 class="mb-0">New Password</h3>
                                        <p class="mb-0">Enter your new password</p>

                                    </div>
                                    
                                </div>
                                
                                
                            </div>
                            <form [formGroup]="resetForm" (ngSubmit)="resetPass()">
                                <div class="col-12">
                                
                                    <div class="mb-3">
                                        <label class="form-label">Password: </label>
                                        <div class="input-group mb-3">
                                            <input [type]="typeInput" class="form-control" formControlName="password" aria-describedby="basic-addon2">
                                            @if(typeInput == 'text'){
                                                <a href="javascript:void(0);" (click)="hide()" class="input-group-text-nohover" id="basic-addon2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                </a>
                                            }
                                            @else if(typeInput == 'password'){
                                                <a href="javascript:void(0);" (click)="show()" class="input-group-text-nohover" id="basic-addon2" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                                </a>
                                            }
                                        </div>
                                        @if(resetForm.get('password').touched){
                                            <ul>
                                                @if(resetForm.hasError('required',['password'])){
                                                    <li style="padding-top: 5px; color: red;">password is blank.</li>
                                                }
                                                @if(resetForm.hasError('length', ['password'])){
                                                    <li style="padding-top: 5px; color: red;">Password must be between 6 and 20 characters.</li>
                                                }
                                                @if(resetForm.hasError('digit', ['password'])){
                                                    <li style="padding-top: 5px; color: red;">Password must contain at least one digit.</li>
                                                }
                                                @if(resetForm.hasError('lowercase', ['password'])){
                                                    <li style="padding-top: 5px; color: red;">Password must contain at least one lowercase letter.</li>
                                                }
                                                @if(resetForm.hasError('uppercase', ['password'])){
                                                    <li style="padding-top: 5px; color: red;">Password must contain at least one uppercase letter.</li>
                                                }
                                                @if(resetForm.hasError('specialCharacter', ['password'])){
                                                    <li style="padding-top: 5px; color: red;">Password must contain at least one special character.</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Confirm Password: </label>
                                        <div class="input-group mb-3">
                                            <input [type]="typeInputRe" class="form-control" formControlName="rePassword" aria-describedby="basic-addon2">
                                            @if(typeInputRe == 'text'){
                                                <a href="javascript:void(0);" (click)="hideRe()" class="input-group-text-nohover" id="basic-addon2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                </a>
                                            }
                                            @else if(typeInputRe == 'password'){
                                                <a href="javascript:void(0);" (click)="showRe()" class="input-group-text-nohover" id="basic-addon2" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                                </a>
                                            }
                                        </div>
                                        @if(resetForm.get('rePassword').touched){
                                            <ul>
                                                @if(resetForm.hasError('required',['rePassword'])){
                                                    <li style="padding-top: 5px; color: red;">Confirm password is blank</li>
                                                }
                                                @if(resetForm?.errors?.['mismatch']){
                                                    <li style="padding-top: 5px; color: red;">Wrong confirm password</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-secondary w-100" [disabled]="resetForm.invalid">Change</button>
                                    </div>
                                </div>
                            </form>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

</div>