<div class="row" id="cancel-row">
                    
    <div class="col-xl-12 col-lg-12 col-sm-12 layout-top-spacing layout-spacing">
        <div class="widget-content widget-content-area br-8">
            <table id="zero-config" class="table dt-table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th class="checkbox-area" scope="col">
                            <div class="form-check form-check-primary">
                                <input class="form-check-input" id="checkbox_parent_all" type="checkbox" (change)="ChangeSelectedValueAll($event)">
                            </div>
                        </th>
                        <th>WishList Name</th>
                        <th>Image</th>
                        <th>Product Name</th>                                                                 
                        <th>Price</th>
                        <th>Seller</th> 
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for(product of wishlistItems; track product){
                        <tr>
                            <td>
                                <div class="form-check form-check-primary">
                                    <input class="form-check-input productchecked" type="checkbox" (change)="ChangeSelectedValue(product.selectedindex,$event)">
                                </div>
                            </td>
                            <td><span class="inv-amount">{{product.name}}</span></td>
                            <td>
                                <div class="d-flex">
                                    <div class="">
                                        @if(product.image.substring(0,5)=="https"){
                                            <img alt="avatar" class="img-fluid rounded" style="width: 60px; object-fit: cover;" src="{{product.image}}" referrerpolicy="no-referrer">
                         
                                        }
                                        @else {
                                            <img alt="avatar" class="img-fluid rounded" style="width: 60px; object-fit: cover;" src="{{imageUrl+product.image}}">
                                            
                                        } 
                                    </div>
                                </div>
                            </td>
                            <td><span>{{product.productName}}</span></td>                            
                            <td ><span class="">${{product.price}}</span></td>
                            <td>
                                <div class="d-flex">
                                    <div class="usr-img-frame me-2 rounded-circle">
                                        @if(product.avatar.substring(0,5)=="https"){
                                            <img alt="avatar" class="img-fluid rounded-circle" src="{{product.avatar}}" referrerpolicy="no-referrer">
                         
                                        }
                                        @else {
                                            <img alt="avatar" class="img-fluid rounded-circle" src="{{imageUrl+product.avatar}}">
                                            
                                        }                                        
                                    </div>
                                    <p class="inv-amount mx-2 mt-2 mb-2">{{product.username}}</p>
                                </div>
                            </td>
                            <td>
                                <a class="badge badge-light-info text-start me-3" href="javascript:void(0);" (click)="addItemToCart(product.productId)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </a>
                                <a class="badge badge-light-success text-start me-3" href="javascript:void(0);" (click)="ShareItem(product.wishlisId)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg></a>
                                <a class="badge badge-light-danger text-start action-delete" href="javascript:void(0);" (click)="DeleteItem(product.wishlisId)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>

                            </td>
                        </tr>
                    }
                    
 

                </tbody>
            </table>
            <div class="row">
                <div class="col-4 mb-2 deleteA btn-lg">
                    <!-- <button class="btn btn-success mb-2  btn-lg " style="padding-left: 55px; padding-right: 55px;" (click)="deleteAll()">Delete All</button> -->
                </div>
                <div class="col-4 mb-2 addtocartA text-center btn-lg">
                    <!-- <button class ="btn btn-success mb-2  btn-lg " style="padding-left: 55px; padding-right: 55px;" (click)="deleteAll()">Delete All</button> -->
                </div>
                <div class="col-4 mb-2 shareA text-end btn-lg">
                    <!-- <button class="btn btn-success mb-2 btn-lg" style="padding-left: 55px; padding-right: 55px;" (click)="BuyItems()">Buy</button> -->
                </div>
            </div>
            
            
        </div>
    </div>

</div>