<body class="error text-center">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mr-auto mt-5 text-md-left text-center">
                <a [routerLink]="['/']" class="ml-md-5">
                    <!-- <img alt="image-404" src="../src/assets/img/logo.svg" class="dark-element theme-logo"> -->
                    <img alt="image-404" src="../src/assets/img/logo2.svg" width="150px" height="150px">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid error-content">
        <div class="">
            <h1 class="error-number">404</h1>
            <p class="mini-text">Ooops!</p>
            <p class="error-text mb-5 mt-1">The page you requested was not found!</p>
            <img src="../src/assets/img/error.svg" alt="cork-admin-404" class="error-img">
            <a [routerLink]="['/']" class="btn btn-dark mt-5">Go Back</a>
        </div>
    </div>    

</body>